In [121]:
# 라이브러리 로드
import pandas as pd

In [122]:
# csv 폴더 안에 있는 corona.csv 파일 로드
# 상대경로
# 현재경로(./) 생략 가능 - 상위 디렉토리(../) - 하위 csv 디렉토리(/csv) - corona.csv
corona = pd.read_csv("../csv/corona.csv")

In [123]:
# 로드된 외부 데이터 파일의 정보 확인
corona.head()

,Unnamed: 0,createDt,deathCnt,decideCnt,seq,stateDt,stateTime,updateDt,accExamCnt,accDefRate
0,0,2022-06-08 09:09:05.982,24305,18188200,904,20220608,00:00,NaN,NaN,NaN
1,1,2022-06-07 09:09:00.897,24299,18174842,903,20220607,00:00,2022-06-08 09:10:36.846,NaN,NaN
2,2,2022-06-06 09:00:06.734,24279,18168670,902,20220606,00:00,2022-06-08 09:10:50.441,NaN,NaN
3,3,2022-06-05 08:53:19.426,24258,18163648,901,20220605,00:00,2022-06-08 09:11:04.758,NaN,NaN
4,4,2022-06-04 08:56:49.219,24238,18153814,900,20220604,00:00,2022-06-08 09:11:26.303,NaN,NaN

In [124]:
corona.tail()

,Unnamed: 0,createDt,deathCnt,decideCnt,seq,stateDt,stateTime,updateDt,accExamCnt,accDefRate
815,815,2020-03-14 00:00:00.000,72,8086,55,20200314,00:00,2021-10-07 10:30:51.51,261335.0,3.318000
816,816,2020-03-13 00:00:00.000,67,7979,54,20200313,00:00,2021-10-07 10:30:51.51,248647.0,3.458499
817,817,2020-03-12 00:00:00.000,66,7869,53,20200312,00:00,2021-10-07 10:30:51.51,234998.0,3.621744
818,818,2020-03-11 00:00:00.000,60,7755,52,20200311,00:00,2021-10-07 10:30:51.51,222395.0,3.804175
819,819,2020-03-10 00:00:00.000,54,7513,51,20200310,00:00,2021-10-07 10:30:51.51,210144.0,3.919308

In [125]:
# 데이터파일의 전체적인 구조 확인
corona.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 820 entries, 0 to 819
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  820 non-null    int64
 1   createDt    820 non-null    object
 2   deathCnt    820 non-null    int64
 3   decideCnt   820 non-null    int64
 4   seq         820 non-null    int64
 5   stateDt     820 non-null    int64
 6   stateTime   820 non-null    object
 7   updateDt    817 non-null    object
 8   accExamCnt  692 non-null    float64
 9   accDefRate  623 non-null    float64
dtypes: float64(2), int64(5), object(3)
memory usage: 64.2+ KB

In [126]:
# 각 컬럼별로 결측치의 개수가 몇 개인가?
# 1. 결측치인가? ( isna() )
# 2. 합산 ( sum() → 파이썬 기본제공이 아닌, DataFrame에 있는 sum 함수 사용 )
corona.isna().sum()

Unnamed: 0      0
createDt        0
deathCnt        0
decideCnt       0
seq             0
stateDt         0
stateTime       0
updateDt        3
accExamCnt    128
accDefRate    197
dtype: int64

컬럼 제거

In [127]:
# 특정 컬럼 제거
# 제거한다( drop )
# drop() → 특정 행 또는 열 제거
# drop( {data}, axix=0|1) → data와 조건이 맞는 행|열 제거
# Unnamed: 0, seq 컬럼 제거
corona.drop(
    [ 'Unnamed: 0', 'seq' ],
    axis= 1,
    inplace= True
)

In [128]:
corona.columns

Index(['createDt', 'deathCnt', 'decideCnt', 'stateDt', 'stateTime', 'updateDt',
       'accExamCnt', 'accDefRate'],
      dtype='object')

#### 컬럼 이름 변경

In [129]:
# 컬럼 이름 변경 방법1
# DataFrame 안의 rename() 함수 이용
# 원본이 수정되어 저장되지는 않음
corona.rename(
    columns= {
        'createDt' : '등록일시',
        'deathCnt' : '총사망자',
        'decideCnt' : '총확진자',
        'stateDt' : '기준일',
        'stateTime' : '기준시간',
        'updateDt' : '수정일시',
       'accExamCnt' : '누적의심자',
       'accDefRate' : '누적확진율'
       # 이름 잘못 적으면 안 바뀜.
    }
)

,등록일시,총사망자,총확진자,기준일,기준시간,수정일시,누적의심자,누적확진율
0,2022-06-08 09:09:05.982,24305,18188200,20220608,00:00,NaN,NaN,NaN
1,2022-06-07 09:09:00.897,24299,18174842,20220607,00:00,2022-06-08 09:10:36.846,NaN,NaN
2,2022-06-06 09:00:06.734,24279,18168670,20220606,00:00,2022-06-08 09:10:50.441,NaN,NaN
3,2022-06-05 08:53:19.426,24258,18163648,20220605,00:00,2022-06-08 09:11:04.758,NaN,NaN
4,2022-06-04 08:56:49.219,24238,18153814,20220604,00:00,2022-06-08 09:11:26.303,NaN,NaN
...,...,...,...,...,...,...,...,...
815,2020-03-14 00:00:00.000,72,8086,20200314,00:00,2021-10-07 10:30:51.51,261335.0,3.318000
816,2020-03-13 00:00:00.000,67,7979,20200313,00:00,2021-10-07 10:30:51.51,248647.0,3.458499
817,2020-03-12 00:00:00.000,66,7869,20200312,00:00,2021-10-07 10:30:51.51,234998.0,3.621744
818,2020-03-11 00:00:00.000,60,7755,20200311,00:00,2021-10-07 10:30:51.51,222395.0,3.804175
819,2020-03-10 00:00:00.000,54,7513,20200310,00:00,2021-10-07 10:30:51.51,210144.0,3.919308

In [130]:
# 컬럼 이름 변경 방법2
# DataFrame 안의 columns 변수에 데이터 대입
# 유의할 점: 기존의 컬럼 개수와 같은 1차원 데이터를 대입해야 한다.
# 원본이 수정되어 저장됨
corona.columns = ['등록일시', '총사망자', '총확진자', '기준일',
                  '기준시간', '수정일시', '누적의심자', '누적확진율']

데이터프레임에서 정렬 변경
* sort()
    - list, DataFrame에서 데이터 정렬 시 사용하는 함수
    - 정렬 변경 기준 2개 - index, values
        - {dataframe}.sort_index( {col_name} , inplace= {False|True} )
        - {dataframe}.sort_values( {col_name}, ascending = {True <span style='color:#808080'>오름차순</span>|False <span style='color:#808080'>내림차순</span>} , inplace= {False|True} )

In [131]:
# 번외
# 컬럼의 순서를 오름차순으로 변경하는 방법
# sort() 함수에 컬럼 정렬은 존재 X
    # corona.columns.sort()  --> Error
# columns 데이터를 list로 변경해 sort()로 정렬
# 필터를 이용해 컬럼 순서 변경
col_list = list(
    corona.columns
    )
col_list.sort()
corona[col_list].head()

,기준시간,기준일,누적의심자,누적확진율,등록일시,수정일시,총사망자,총확진자
0,00:00,20220608,NaN,NaN,2022-06-08 09:09:05.982,NaN,24305,18188200
1,00:00,20220607,NaN,NaN,2022-06-07 09:09:00.897,2022-06-08 09:10:36.846,24299,18174842
2,00:00,20220606,NaN,NaN,2022-06-06 09:00:06.734,2022-06-08 09:10:50.441,24279,18168670
3,00:00,20220605,NaN,NaN,2022-06-05 08:53:19.426,2022-06-08 09:11:04.758,24258,18163648
4,00:00,20220604,NaN,NaN,2022-06-04 08:56:49.219,2022-06-08 09:11:26.303,24238,18153814

In [132]:
# sort_values()
# 등록일시를 기준으로, 내림차순 정렬을 오름차순 정렬로 변경
# ascending= False -> True
corona.sort_values(
    ['등록일시'], ascending= True, inplace= True
)

In [202]:
# 복사본 생성(Backup) -> 1차 작업 완료 후 중간 지점
# 백업 자주!!!
df = corona.copy()

In [203]:
# 결측치가 존재하는 칼럼 3개 -> 수정일시, 누적의심자, 누적확진율
# 결측치가 존재하는 데이터 확인(수정일시)
# 수정일시 데이터 중 결측치 존재 유무 판단
# df 데이터프레임에서 특정 컬럼 하나를 선택해,
    # 2차원 데이터프레임(df)에서 1차원 시리즈(df['수정일시'])로 변경
df['수정일시'].isna()

819    False
818    False
817    False
816    False
815    False
       ...
4      False
3      False
2      False
1      False
0       True
Name: 수정일시, Length: 820, dtype: bool

In [204]:
# 특정 변수(flag)에 잠깐 담아두고,
flag = df['수정일시'].isna()

# 인덱스의 조건을 이용하여 필터링
df.loc
# <pandas.core.indexing._LocIndexer at 0x214b7256490>
# < 데이터 타입 at 위치 >
# loc는 함수가 아닌 변수이므로 ()가 아닌 []를 사용하고, 특정 위치를 뽑아낼 수 있음.

In [205]:
# 인덱스의 조건을 이용하여 필터링
# 데이터의 필요성 체크
# {DataFrame}.loc[ 인덱스의 조건, 컬럼의 조건 ]
# 'flag,' 뒤에 '처음부터 끝까지'라는 뜻으로 ':'을 넣어줘야 하지만, 생략 가능.

# 비트 연산자 '~'를 이용해 1차원 논리값의 부정 표현
df.loc[ ~flag, ].head()

# df.loc[ flag != True, ] 도 가능

# '-' 연산자를 이용해 1차원 논리값의 부정 표현
# df.loc[ -flag = True, ] 도 가능

,등록일시,총사망자,총확진자,기준일,기준시간,수정일시,누적의심자,누적확진율
819,2020-03-10 00:00:00.000,54,7513,20200310,00:00,2021-10-07 10:30:51.51,210144.0,3.919308
818,2020-03-11 00:00:00.000,60,7755,20200311,00:00,2021-10-07 10:30:51.51,222395.0,3.804175
817,2020-03-12 00:00:00.000,66,7869,20200312,00:00,2021-10-07 10:30:51.51,234998.0,3.621744
816,2020-03-13 00:00:00.000,67,7979,20200313,00:00,2021-10-07 10:30:51.51,248647.0,3.458499
815,2020-03-14 00:00:00.000,72,8086,20200314,00:00,2021-10-07 10:30:51.51,261335.0,3.318000

In [206]:
# 누적확진율 데이터에서 결측치인 데이터만 확인
flag = df['누적확진율'].isna()
df.loc[flag, ]

,등록일시,총사망자,총확진자,기준일,기준시간,수정일시,누적의심자,누적확진율
196,2021-11-24 09:08:22.071,3362,425059,20211124,00:00,2021-12-02 09:06:01.826,16939923.0,NaN
195,2021-11-25 09:00:47.897,3401,428996,20211125,00:00,2021-12-02 09:06:12.94,16998733.0,NaN
194,2021-11-26 09:03:03.973,3440,432892,20211126,00:00,2021-12-02 09:06:24.138,17056003.0,NaN
193,2021-11-27 09:32:36.026,3492,436959,20211127,00:00,2021-12-02 09:06:37.327,17115754.0,NaN
192,2021-11-28 08:58:53.394,3548,440884,20211128,00:00,2021-12-02 09:06:50.152,17158535.0,NaN
...,...,...,...,...,...,...,...,...
4,2022-06-04 08:56:49.219,24238,18153814,20220604,00:00,2022-06-08 09:11:26.303,NaN,NaN
3,2022-06-05 08:53:19.426,24258,18163648,20220605,00:00,2022-06-08 09:11:04.758,NaN,NaN
2,2022-06-06 09:00:06.734,24279,18168670,20220606,00:00,2022-06-08 09:10:50.441,NaN,NaN
1,2022-06-07 09:09:00.897,24299,18174842,20220607,00:00,2022-06-08 09:10:36.846,NaN,NaN
0,2022-06-08 09:09:05.982,24305,18188200,20220608,00:00,NaN,NaN,NaN

In [207]:
# loc[조건] -> 조건뿐 아니라 값으로도 필터 가능
df.loc[ 198:194, ]

# 아마 여러 번 걸리는 사람들이 많아진 시기라서 삭제하는 것일 것.

# 결측치를 채우는 것도 중요하지만, 의미있는 데이터를 살릴 수 있을지 없을지를 판단하는 것도 중요.

,등록일시,총사망자,총확진자,기준일,기준시간,수정일시,누적의심자,누적확진율
198,2021-11-22 09:07:45.615,3298,418249,20211122,00:00,2021-11-26 09:29:38.144,16816616.0,2.778249
197,2021-11-23 08:59:47.863,3328,420946,20211123,00:00,2021-11-30 09:06:13.348,16878955.0,2.787908
196,2021-11-24 09:08:22.071,3362,425059,20211124,00:00,2021-12-02 09:06:01.826,16939923.0,NaN
195,2021-11-25 09:00:47.897,3401,428996,20211125,00:00,2021-12-02 09:06:12.94,16998733.0,NaN
194,2021-11-26 09:03:03.973,3440,432892,20211126,00:00,2021-12-02 09:06:24.138,17056003.0,NaN

#### 인덱스 초기화
> 초기화( reset ) + 위치( index ) ⇒ **reset_index(  ) 함수** </br>

<span style='color:#ffd33d'>reset_index()
- 인덱스를 재지정하고, 기존의 인덱스는 새 컬럼의 데이터로 변환</br>
<span style='color:#808080'>(출력된다 = 저장되지 않았다 ⇒ 매개변수 inplace가 포함되어 있을 것이다.)</span>
    - 매개변수 inplace ⇒ 원본의 데이터를 수정할 것인가?
    - 매개변수 drop    ⇒ 기존의 인덱스를 제거할 것인가?

In [208]:
df.reset_index(inplace=True)
df
# 일반적으로는 덮어씌워지며 기존 것이 삭제될 거라고 생각하는데, index 열이 추가됨.
# drop()을 쓰지 않는 이상, 임의로 데이터가 제거되지 않기 때문.

,index,등록일시,총사망자,총확진자,기준일,기준시간,수정일시,누적의심자,누적확진율
0,819,2020-03-10 00:00:00.000,54,7513,20200310,00:00,2021-10-07 10:30:51.51,210144.0,3.919308
1,818,2020-03-11 00:00:00.000,60,7755,20200311,00:00,2021-10-07 10:30:51.51,222395.0,3.804175
2,817,2020-03-12 00:00:00.000,66,7869,20200312,00:00,2021-10-07 10:30:51.51,234998.0,3.621744
3,816,2020-03-13 00:00:00.000,67,7979,20200313,00:00,2021-10-07 10:30:51.51,248647.0,3.458499
4,815,2020-03-14 00:00:00.000,72,8086,20200314,00:00,2021-10-07 10:30:51.51,261335.0,3.318000
...,...,...,...,...,...,...,...,...,...
815,4,2022-06-04 08:56:49.219,24238,18153814,20220604,00:00,2022-06-08 09:11:26.303,NaN,NaN
816,3,2022-06-05 08:53:19.426,24258,18163648,20220605,00:00,2022-06-08 09:11:04.758,NaN,NaN
817,2,2022-06-06 09:00:06.734,24279,18168670,20220606,00:00,2022-06-08 09:10:50.441,NaN,NaN
818,1,2022-06-07 09:09:00.897,24299,18174842,20220607,00:00,2022-06-08 09:10:36.846,NaN,NaN
819,0,2022-06-08 09:09:05.982,24305,18188200,20220608,00:00,NaN,NaN,NaN

---

#### 파생변수
- 기존의 데이터를 이용하여 새로운 데이터 생성
- 기존의 데이터만으로 설명이 불가능하거나 상관관계가 약한 경우,</br>
새로운 데이터를 생성해 설명이 가능하고 상관관계가 강해지도록 함
    - case1: 반복문(for문, while문, map(  )) 사용
    - case2: 함수 만들어 사용

In [209]:
# 총확진자수 데이터를 이용해 일일확진자 데이터 생성
# 일일확진자 = 오늘의 총확진자수 - 어제의 총확진자수
# df.head()를 보면, 2020-03-10 이전의 데이터는 없으므로 그 다음 인덱스부터 확인 가능
df.loc[ 1, '총확진자'] - df.loc[ 0, '총확진자']

np.int64(242)

case1 - for문

In [210]:
# 반복문을 이용하여 일일확진자수를 리스트로 생성해 데이터프레임에 대입
# 0번째는 2020-03-10의 데이터이므로 초기값이 들어가있어야 함.
decide_list = [0]

# 반복문 시작(데이터프레임의 길이에 -1 반복 실행)
# for i in range(0, len(df)-1): 또는 ↓
for i in range(1, len(df)):
    # i = 1 부터 819 대입하여 반복
    decide_cnt = df.loc[ i, '총확진자'] - df.loc[ i-1, '총확진자']
    decide_list.append(decide_cnt)

# df에 일일확진자 컬럼 생성하고 데이터로 decide_list 대입
    # ⇒ dict에서 key:value를 추가하는 형태와 같다.
df['일일확진자'] = decide_list

In [211]:
df.head()

,index,등록일시,총사망자,총확진자,기준일,기준시간,수정일시,누적의심자,누적확진율,일일확진자
0,819,2020-03-10 00:00:00.000,54,7513,20200310,00:00,2021-10-07 10:30:51.51,210144.0,3.919308,0
1,818,2020-03-11 00:00:00.000,60,7755,20200311,00:00,2021-10-07 10:30:51.51,222395.0,3.804175,242
2,817,2020-03-12 00:00:00.000,66,7869,20200312,00:00,2021-10-07 10:30:51.51,234998.0,3.621744,114
3,816,2020-03-13 00:00:00.000,67,7979,20200313,00:00,2021-10-07 10:30:51.51,248647.0,3.458499,110
4,815,2020-03-14 00:00:00.000,72,8086,20200314,00:00,2021-10-07 10:30:51.51,261335.0,3.318000,107

case2 - 함수

<span style='color:#ffd33d'>shift( )
- 인덱스를 이동하는 함수 shift(  n  )
    - n만큼 인덱스 변경<span style='color:#808080'>(n의 기본값= 1)</span>
> 인덱스 이동</br>
  -1  : 한 칸 위로</br>
  +1  : 한 칸 아래로

In [212]:
# 인덱스를 이동하는 함수 shift(n) -> n만큼 인덱스 변경(n의 기본값= 1)
df['총사망자'].shift()
# 데이터 타입 float

0          NaN
1         54.0
2         60.0
3         66.0
4         67.0
        ...
815    24229.0
816    24238.0
817    24258.0
818    24279.0
819    24299.0
Name: 총사망자, Length: 820, dtype: float64

In [213]:
# shift()한 데이터의 첫 번째 값이 결측치 -> 0번째 데이터 NaN
# Series이므로 굳이 list에 넣지 않고 바로 데이터프레임에 넣을 수 있음
df['일일사망자'] = df['총사망자'] - df['총사망자'].shift()

<span style='color:#ffd33d'>diff( )
- 특정 시리즈 안에서의 차이를 구하는 함수 diff(  n  )
    - n은 인덱스 수<span style='color:#808080'>(n의 기본값= 1)</span>

In [214]:
df['총사망자'].diff()

0       NaN
1       6.0
2       6.0
3       1.0
4       5.0
       ...
815     9.0
816    20.0
817    21.0
818    20.0
819     6.0
Name: 총사망자, Length: 820, dtype: float64

In [215]:
# 일일사망자, 일일확진자 데이터는 범위가 0보다 크거나 같아야 한다.
# 비교연산자를 사용해 해당 데이터를 확인한다.
df['일일사망자'] >= 0

# 0번 인덱스에는 결측치가 들어있기 때문에 False

0      False
1       True
2       True
3       True
4       True
       ...
815     True
816     True
817     True
818     True
819     True
Name: 일일사망자, Length: 820, dtype: bool

In [216]:
# 따라서 일일사망자 컬럼의 데이터에서 결측치는 0으로 채워준다.
df['일일사망자'].fillna(0, inplace=True)

# FutureWarning: 코딩 하다보면 여러 warning 메시지가 많이 나오지만 신경 안 써도 된다.

C:\Users\student\AppData\Local\Temp\ipykernel_5332\1278238825.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['일일사망자'].fillna(0, inplace=True)

In [217]:
# 다시 비교연산자를 사용해 해당 데이터를 확인한다.
df['일일사망자'] < 0

0      False
1      False
2      False
3      False
4      False
       ...
815    False
816    False
817    False
818    False
819    False
Name: 일일사망자, Length: 820, dtype: bool

In [218]:
# 인덱스의 조건식을 활용해
# 일일사망자가 음수인 데이터 확인
flag = df['일일사망자'] < 0
df.loc[flag, ]

,index,등록일시,총사망자,총확진자,기준일,기준시간,수정일시,누적의심자,누적확진율,일일확진자,일일사망자
446,374,2021-05-30 00:00:00.000,1957,139907,20210530,00:00,2021-10-07 10:30:51.51,9747612.0,1.454166,-430,-2.0

< 지금까지의 과정 >
1. 데이터 불러오기
2. 필요없는 데이터 2개 지우기 (Unnamed: 0, sep)
3. 컬럼 이름 보기 좋게 바꾸기
4. 데이터 순서 역순으로 바꿈
5. 전날과의 차이를 넣어줌

일일사망자가 음수인 데이터는 왜 나왔을까?

In [219]:
# 일일확진자, 일일사망자 두 개의 컬럼을 모두 선택해 비교
flag = (df[ ['일일확진자', '일일사망자'] ] < 0).any(axis=1)
df.loc[flag, ]

# df.loc[flag, ]
# → KeyError: "None of [Index([('일', '일', '확', '진', '자'), ('일', '일', '사', '망', '자')], dtype='object')] are in the [index]"
# 각각 확인할 땐 1차원이었지만 지금은 2차원
# 인덱스의 조건식에 1차원 데이터가 아닌 2차원 데이터가 들어가면 Error 발생

,index,등록일시,총사망자,총확진자,기준일,기준시간,수정일시,누적의심자,누적확진율,일일확진자,일일사망자
446,374,2021-05-30 00:00:00.000,1957,139907,20210530,00:00,2021-10-07 10:30:51.51,9747612.0,1.454166,-430,-2.0

> loc[ 인덱스의 조건 , 컬럼의 조건 ]</br>
df.loc[  ***{Series(bool)}***  ] → 가능</br>
df.loc[  ***{DataFrame(bool)}***  ] → 불가능</br>
⇒ 데이터프레임에서는 한 인덱스에 논리값이 여러 개 나오므로 Error

(조건식 대신 인덱스의 값을 넣어도 실질적으로는 T/F 형태의 조건식)

In [220]:
# 446번 인덱스에서 문제가 보인다.
# 444번부터 448번 인덱스까지 데이터를 확인해본다.
df.loc[ 444:448, ]

,index,등록일시,총사망자,총확진자,기준일,기준시간,수정일시,누적의심자,누적확진율,일일확진자,일일사망자
444,375,2021-05-29 00:00:00.000,1951,139427,20210529,00:00,2021-10-07 10:30:51.51,9733588.0,1.450884,533,5.0
445,373,2021-05-30 00:00:00.0,1959,140337,20210531,00:00,2021-10-14 13:48:56.821,9761156.0,1.456805,910,8.0
446,374,2021-05-30 00:00:00.000,1957,139907,20210530,00:00,2021-10-07 10:30:51.51,9747612.0,1.454166,-430,-2.0
447,372,2021-06-01 00:00:00.000,1963,140796,20210601,00:00,2021-10-07 10:30:51.51,9798400.0,1.455890,889,6.0
448,371,2021-06-02 00:00:00.000,1965,141473,20210602,00:00,2021-10-07 10:30:51.51,9834348.0,1.457668,677,2.0

In [221]:
# 445번 인덱스의 등록일시가 잘못됨을 확인했다.
# 445번 인덱스의 등록일시를 '2021-05-31 00:00:00.000'로 변경한다.
df.loc[445, '등록일시'] = '2021-05-31 00:00:00.000'

In [222]:
df.loc[ 444:448, ]

,index,등록일시,총사망자,총확진자,기준일,기준시간,수정일시,누적의심자,누적확진율,일일확진자,일일사망자
444,375,2021-05-29 00:00:00.000,1951,139427,20210529,00:00,2021-10-07 10:30:51.51,9733588.0,1.450884,533,5.0
445,373,2021-05-31 00:00:00.000,1959,140337,20210531,00:00,2021-10-14 13:48:56.821,9761156.0,1.456805,910,8.0
446,374,2021-05-30 00:00:00.000,1957,139907,20210530,00:00,2021-10-07 10:30:51.51,9747612.0,1.454166,-430,-2.0
447,372,2021-06-01 00:00:00.000,1963,140796,20210601,00:00,2021-10-07 10:30:51.51,9798400.0,1.455890,889,6.0
448,371,2021-06-02 00:00:00.000,1965,141473,20210602,00:00,2021-10-07 10:30:51.51,9834348.0,1.457668,677,2.0

---

1. '등록일시'를 기준으로 오름차순 정렬
2. 인덱스를 초기화하고 기존의 인덱스 제거
3. '일일확진자', '일일사망자' 컬럼 제거
4. '일일확진자' 컬럼은 shiftt(  ) 함수를 이용하여 생성
5. '일일사망자' 컬럼은 diff(  ) 함수를 이용하여 생성
6. '일일확진자', '일일사망자' 컬럼의 데이터에서 음수가 존재하는지 확인

In [223]:
# 1. '등록일시'를 기준으로 오름차순 정렬
df.sort_values(
    ['등록일시'], ascending=True, inplace=True
)

In [224]:
df.loc[ 444:448, ]

,index,등록일시,총사망자,총확진자,기준일,기준시간,수정일시,누적의심자,누적확진율,일일확진자,일일사망자
444,375,2021-05-29 00:00:00.000,1951,139427,20210529,00:00,2021-10-07 10:30:51.51,9733588.0,1.450884,533,5.0
446,374,2021-05-30 00:00:00.000,1957,139907,20210530,00:00,2021-10-07 10:30:51.51,9747612.0,1.454166,-430,-2.0
445,373,2021-05-31 00:00:00.000,1959,140337,20210531,00:00,2021-10-14 13:48:56.821,9761156.0,1.456805,910,8.0
447,372,2021-06-01 00:00:00.000,1963,140796,20210601,00:00,2021-10-07 10:30:51.51,9798400.0,1.455890,889,6.0
448,371,2021-06-02 00:00:00.000,1965,141473,20210602,00:00,2021-10-07 10:30:51.51,9834348.0,1.457668,677,2.0

In [225]:
# 2. 인덱스를 초기화하고 기존의 인덱스 제거
df.reset_index(drop=True, inplace=True)
# df.reset_index().drop('index', axis=1)

In [226]:
# 3. '일일확진자', '일일사망자' 컬럼 제거
df.drop(
    ['일일확진자', '일일사망자'],
    axis=1,  # axis='columns'
    inplace=True
)

In [227]:
# 4. '일일확진자' 컬럼은 shift() 함수를 이용하여 생성
# 파생변수
# df['총확진자'] - df['총확진자'].shift()    # shift 기본값 1(한 칸씩 아래로 내림)
# 0번째 인덱스 Nan

# df['총확진자'] - df['총확진자'].shift().fillna()  --> X
# shift한 값에 결측치를 채우려는 게 아니라, 그 차에 결측치를 채우려는 것이므로 () 쳐주기.

df['일일확진자'] = (df['총확진자'] - df['총확진자'].shift()).fillna(0)

In [228]:
# 5. '일일사망자' 컬럼은 diff() 함수를 이용하여 생성
# 파생변수
df['일일사망자'] = df['총사망자'].diff().fillna(0)

In [229]:
# 6. '일일확진자', '일일사망자' 컬럼의 데이터에서 음수가 존재하는지 확인
flag = (df[ ['일일확진자', '일일사망자'] ] < 0).any(axis=1)
df.loc[flag,]

Empty DataFrame
Columns: [index, 등록일시, 총사망자, 총확진자, 기준일, 기준시간, 수정일시, 누적의심자, 누적확진율, 일일확진자, 일일사망자]
Index: []

In [230]:
flag.sum()

np.int64(0)