## [ 마크다운 - 리스트 형태 텍스트 ]

### 순서형
'숫자.' 형식만 지켜지면 숫자가 몇이든 순서대로 출력됨.
1. list1
1. list2
7. list3

### 비순서형
- list1
    1. sub1
    2. sub2
- list2
    - sub1
    - sub2
- list3

---

## 자료형 데이터
1. 튜플(tuple)
- 여러개의 데이터를 하나의 변수에 저장시키기 위한 형태
- 자료형 데이터 중 가장 기본적인 형태
- ()를 이용해서 데이터 생성
- 한 번 생성되면 수정 불가능. 새로운 tuple을 생성해야 함

2. 리스트[list]
- []을 이용해서 데이터 생성
- tuple과는 다르게 각 원소의 수정, 삭제, 추가 가능(리스트의 내부함수 이용)
- 원소의 개수 0개부터 생성 가능 -> 여러 개의 데이터를 하나의 변수에 담을 준비 과정으로써 비어있는 리스트 생성

3. 딕셔너리{dict}
- {}을 이용하여 데이터 생성
- key : value 의 형태로 데이터 구성 (list에서는 위치를 기준으로 데이터를 추출한다면, dict는 key를 기준으로 데이터 추출)
- 원소의 개수는 0부터 생성 가능

### 1. 튜플

In [2]:
# tuple 데이터 생성
# 원소마다 타입이 달라도 생성 가능
tuple_a = (1, 'Hello')
tuple_b = (3, 3.14)

print(tuple_a)
print(tuple_b)

print(type(tuple_a))
print(type(tuple_b))

(1, 'Hello')
(3, 3.14)
<class 'tuple'>
<class 'tuple'>

In [3]:
# tuple에서 특정 위치의 데이터 추출 (index값은 0부터 시작)
print(tuple_a[0])  # 1
print(tuple_b[1])  # 3.14

1
3.14

In [4]:
# tuple 간의 합 -> 문자의 합과 같은 결과 => 새로운 튜플이 생성됨
tuple_a + tuple_b

(1, 'Hello', 3, 3.14)

In [5]:
# tuple과 숫자의 합 => 불가능
# tuple_b + 1     # -> TypeError!

### 2. 리스트

In [6]:
# list 형태의 데이터
list_a = [30, 20, 50, 10]
list_b = ['abc', 'fi', 'be']

In [7]:
# list의 함수 중 정렬을 변경하는 함수
# sort() : 리스트의 원소들을 오름차순 정렬로 변경
# reverse() : 리스트의 원소들을 역순 정렬로 변경
# 위의 2개의 함수는 list를 변경시킴

list_a.sort()
list_a  # 오름차순 정렬로 바뀜

[10, 20, 30, 50]

In [8]:
# 내림차순 정렬은?
# 오름차순 정렬 후 역순으로 변경
# sort()는 매개변수 reverse 존재 (기본값이 False, 오름차순)
list_a.sort(reverse=True)      # reverse=True, 내림차순
list_a

[50, 30, 20, 10]

In [9]:
# 리스트에 원소를 추가하는 함수
# append('data') : 가장 마지막에 원소 추가
# insert(index, 'data') : 특정 위치에 데이터 추가

list_a.append(100)
print(list_a)

[50, 30, 20, 10, 100]

In [10]:
list_a.insert(2,100)
print(list_a)

[50, 30, 100, 20, 10, 100]

In [11]:
# 리스트의 원소 수정

# 먼저 어떠한 데이터를 수정할지 선택해야 한다.
# list_a의 두 번째 위치의 데이터를 수정할 거라면, index = 1
print(list_a[1])  # 수정할 데이터 확인

# 30을 15로 변경하고 싶다면, 30의 데이터를 제거하고 15를 대입해야 한다.
list_a[1] = 15
print(list_a[1])

30
15

In [12]:
# 리스트의 원소를 삭제하는 함수
# pop() : 가장 마지막 데이터 제거
# remove('data') : 특정 값의 데이터 제거
# del list[index] : 특정 위치의 데이터 제거

list_a.pop()
list_a

[50, 15, 100, 20, 10]

In [13]:
list_a.append(15)
print(list_a)

# remove() 함수를 이용하여 list_a의 15라는 값을 제거
list_a.remove(15)
print(list_a)

[50, 15, 100, 20, 10, 15]
[50, 100, 20, 10, 15]

In [14]:
# 특정 위치의 데이터를 제거하는 del
del list_a[3]
list_a

[50, 100, 20, 15]

In [15]:
# 복사본 생성 (백업)
a = 10
b = a
print(a)
print(b)

10
10

In [16]:
a += 1
print(a)  # a의 데이터는 변경됨
print(b)  # 원본 데이터는 b에 유지

11
10

In [17]:
list_clone = list_a

print(list_a)
print(list_clone)

[50, 100, 20, 15]
[50, 100, 20, 15]

In [18]:
# list_clone을 수정
list_clone.pop()

15

In [19]:
print(list_a)
print(list_clone)

# list_a는 수정하지 않았으나, 함께 바뀌어있음.

[50, 100, 20]
[50, 100, 20]

In [20]:
# list = list -> 같은 위치의 데이터를 의미하므로
# 실제 복사본을 생성하려면 copy() 함수 이용
list_clone2 = list_a.copy()

list_clone2.append(1)

print(list_a)
print(list_clone)
print(list_clone2)

[50, 100, 20]
[50, 100, 20]
[50, 100, 20, 1]

In [21]:
# 리스트의 정렬을 변경하고 원본 데이터는 그대로 유지하는 함수
# sorted(list명)
sort_list_a = sorted(list_a)   # sort_list_a 에는 정렬된 상태의 데이터가 저장됨

print(list_a)
print(sort_list_a)

[50, 100, 20]
[20, 50, 100]

In [22]:
# 리스트 간의 합
list_a + list_b  # 숫자 + 문자

[50, 100, 20, 'abc', 'fi', 'be']

In [23]:
# 리스트와 숫자의 합 => 불가능
# list_a + 1     # -> TypeError!

# 리스트도 튜플과 마찬가지로, 단일데이터와의 합은 불가능

In [24]:
# 데이터를 찾는 함수
# index(data) : 특정 데이터의 첫 번째 위치 출력
list_a.index(20)

2

In [25]:
# 만약 해당 데이터가 존재하지 않으면?
# index() 함수를 이용해 없는 데이터를 찾는 경우 => Error 발생!
list_a.index(10)

ValueError: 10 is not in list

## 2차원 데이터
괄호의 개수 = 차원

In [26]:
# 2차원 데이터 :
# 리스트 안에 리스트, 리스트 안에 튜플, 리스트 안에 딕셔너리, 튜플 안에 리스트. 딕셔너리 안에 리스트

list_c = [
    [10, 20],
    [30, 40],
    [50, 60]
]

In [27]:
# 2차원 데이터에서 특정 위치 하나를 선택하면, 1차원 데이터로 변경된다.

# list_c에서 30을 추출하려고 할 때, 30은 2번째 위치의 원소 안에 포함되어 있으므로
print(list_c[1])    # list_c 2번째 위치의 원소에서 데이터를 추출 -> 1차원 리스트 [30, 40] 이 만들어짐.
print(list_c[1][0]) # 2번째 위치의 원소에서 1번째 위치의 데이터가 30

[30, 40]
30

## 3. 딕셔너리

In [2]:
# 1차원 딕셔너리
dict_a = {
    'name': 'test',
    'age' : 20,
    'phone' : '01012345678'
}

In [3]:
# dict는 위치를 기준으로 하는 list와 달리, key를 기준으로 데이터 추출
# dict_a[0] -> 0이라는 key값에 대응되는 value를 출력해야 하는데,
# 0이라는 key가 존재하지 않아 Error 발생
dict_a[0]

KeyError: 0

In [4]:
dict_a['name']

'test'

In [5]:
dict_b = {
    'age' : 30,
    'name' : 'test2',
    'phone' : '01011112222'
}

In [6]:
# 위치에 상관없이, 이름을 추출하고 싶다면 key만 신경쓰면 되므로 편리함.
dict_b['name']

'test2'

In [7]:
# 딕셔너리에 데이터 추가 -> key:value 형태로 추가
# 추가 기능과 수정 기능의 코드 차이가 거의 없다.
# 추가 -> 새로운 key = data
# 수정 -> 기존 key = data

# dict_a에 key 값은 loc, value 값은 seoul 데이터 추가
dict_a['loc'] = 'seoul'

dict_a

{'name': 'test', 'age': 20, 'phone': '01012345678', 'loc': 'seoul'}

In [8]:
# 기존의 key 값을 선택하고 데이터를 대입하면, 기존의 value는 제거되고 새로운 value가 추가됨
# = 데이터 수정
# dict_a의 key 값 'age'의 기존 value 값 20을 30으로 수정
dict_a['age'] = 30

dict_a

{'name': 'test', 'age': 30, 'phone': '01012345678', 'loc': 'seoul'}

In [9]:
# dict에서 데이터 제거
# => key와 value가 모두 삭제됨
del dict_a['name']  # 'name'이라는 key값 자체가 사라짐

dict_a

{'age': 30, 'phone': '01012345678', 'loc': 'seoul'}

In [10]:
# 데이터를 수집하는 경우
# 1. open api(data api) 사용하는 경우
# 리스트 안에 딕셔너리이거나, 디셔너리 안에 리스트인 경우가 과반
# index 행, column 열
sample_data = {
    'name' : ['kim','park', 'lee'],
    'age' : [20, 25, 30],
    'gender' : ['F', 'M', 'F']
}

In [11]:
# sample_data에서 'M'을 추출하려면?
# sample_data의 타입 = 딕셔너리 이므로, 'M'이 위치한 key는 'gender'
sample_data

{'name': ['kim', 'park', 'lee'],
 'age': [20, 25, 30],
 'gender': ['F', 'M', 'F']}

In [12]:
# 위의 결과가 나온 1차원 데이터에서 M은 몇 번째 위치? -> 첫 번째 위치
sample_data['gender'][1]

'M'

In [13]:
sample_data2 = [
    {
    'name' : 'kim',
    'age' : 20,
    'gender' : 'F'
    },
    {   'name' : 'park',
    'age' : 20,
    'gender' : 'F'
    },
    {   'name' : 'lee',
    'age' : 30,
    'gender' : 'F'
    }
]

In [14]:
type(sample_data2)

list

In [15]:
# sample_data2에서 'park'이라는 데이터를 추출하려면?
# sample_data2에서 2번째 위치에 'park' 데이터 존재 -> index = 1
sample_data2[1]

{'name': 'park', 'age': 20, 'gender': 'F'}

In [16]:
# sample_data2[1]의 데이터 타입이 dict 이고, 'park' 데이터는 'name' key에 존재
sample_data2[1]['name']

'park'

In [17]:
# sample_data2에서 이름들을 따로 모아 새로운 리스트 생성

# 이름을 모아 저장할 수 있는 공간 생성
# 변수에 여러 개의 이름이 저장되어야 하므로, list 또는 dict 생성
name_list = []

# sample_data2에서 첫 번째 원소의 'name'값을 추출해 name_list에 추가
name = sample_data2[0]['name']
name_list.append(name)
print(name_list)

['kim']

In [18]:
# sample_data2에서 첫 번째 원소의 'name'값을 추출해 name_list에 추가
name = sample_data2[1]['name']
name_list.append(name)
print(name_list)

name = sample_data2[2]['name']
name_list.append(name)
print(name_list)

['kim', 'park']
['kim', 'park', 'lee']

In [19]:
len(sample_data2)

3

In [20]:
# 반복문을 이용하여 name_list2 생성
# for문 이용
name_list2 = []

for i in range(len(sample_data2)):
    name = sample_data2[i]['name']
    name_list2.append(name)

print(name_list2)

['kim', 'park', 'lee']

In [21]:
for i in sample_data2:
    # i는?
    print(i)
    break  # 하나만 확인

{'name': 'kim', 'age': 20, 'gender': 'F'}

In [24]:
name_list3 = []

for i in sample_data2:
    # i는 sample_data2에 있는 원소들(dict 타입)
    print(i)
    # i에서 name이라는 key의 value를 추출
    print(i['name'])
    name_list3.append(i['name'])

name_list3

{'name': 'kim', 'age': 20, 'gender': 'F'}
kim
{'name': 'park', 'age': 20, 'gender': 'F'}
park
{'name': 'lee', 'age': 30, 'gender': 'F'}
lee

['kim', 'park', 'lee']

In [25]:
# dict 형태의 데이터를 가지고 반복문을 이용한다면?
for i in sample_data:
    # i는?
    print(i)

name
age
gender

In [26]:
# i에 key값 들어오는 것 확인됨.
for i in sample_data:
    print(i)
    print(sample_data[i])

name
['kim', 'park', 'lee']
age
[20, 25, 30]
gender
['F', 'M', 'F']

In [41]:
# sort() -> 리스트의 각각의 원소들을 비교하여 가장 작은 데이터를 처음으로,
# 가장 큰 데이터를 마지막으로 하여 정렬을 변경하는 함수

sample_list = [30, 10, 50, 7]
# sample_list의 가장 작은 데이터를 담아줄 수 있는 새로운 빈 리스트 필요
sort_list = []

# sample_list의 길이(4)만큼 반복하는 반복문 생성
for i in range(len(sample_list)):
    # 첫 번째 원소의 데이터를 최솟값으로 지정
    min_value = sample_list[0]
    # 두 번째 원소부터 마지막 원소(len)까지 min_value와 비교해, 작은 데이터를 min_value에 대입
    for j in range(1, len(sample_list)):  # 3번 반복
        # min_value와 sample_list[j] 데이터를 비교해 작은 값 찾기
        if sample_list[j] <= min_value:
            min_value = sample_list[j]
    sample_list.remove(min_value)
    sort_list.append(min_value)
    print(sort_list)
    print(sample_list)       
    print(min_value)

[7]
[30, 10, 50]
7
[7, 10]
[30, 50]
10
[7, 10, 30]
[50]
30
[7, 10, 30, 50]
[]
50

In [42]:

sample_list = [30, 10, 50, 7]
sort_list = []

for i in range(len(sample_list)):
    # 반복할 때마다 sample_list의 가장 작은 데이터 찾기
    min_value = min(sample_list)
    print(min_value)
    sort_list.append(min_value)
    # sample_list에서 min_value 데이터를 제거
    sample_list.remove(min_value)
print(sort_list)

7
10
30
50
[7, 10, 30, 50]

In [43]:
sample_list = [30, 10, 50, 7]
sorted(sample_list)

[7, 10, 30, 50]