## map() 함수
- map(): 1차원 데이터의 각 원소별 변환이 필요할 때 사용
- map( 함수, 1차원 데이터 )

In [17]:
list_a = [1,2,3,4,5]
# list_a에서 각각의 원소들을 제곱한 새로운 리스트를 생성해보자.

# case 1
# for문
new_list = []
for i in list_a:
    # i: list_a의 원소 값 (1,2,3,4,5)
    new_list.append(i ** 2)

# for i in range(len(list_a)):
#     # i: list_a의 위치 값 (0,1,2,3,4)
#     new_list.append(
#         list_a[i] ** 2
#     )

print(new_list)

[1, 4, 9, 16, 25]

In [24]:
# case 2
# while문
# while문의 조건식이 들어가는 부분은 bool 형태
# bool 형태가 아닌 데이터가 들어오면 강제로 bool 형태로 변환

# 조건식 정하는 방법 1
# : (가장 기본적인 형태) 초기값을 지정하고, 초기값이 list_a의 길이보다 작을 때까지
# 조건식 정하는 방법 2
# : (무한) 초기값을 지정하고, 초기값이 list_a의 길이와 같을 때 반복문 강제 종료
# 조건식 정하는 방법 3
# : (무한) Error가 발생했을 때 반복문 강제 종료

# 초기값 지정
i = 0
# 빈 리스트 생성
new_list = []

while i < len(list_a):
    # i: list_a의 위치 값
    new_list.append(
        list_a[i] ** 2
    )
    # i를 1씩 증가
    i += 1
    
print(new_list)

[1, 4, 9, 16, 25]

In [25]:
# 초기값 지정
i = 0
# 빈 리스트 생성
new_list = []

while True:
    new_list.append(
        list_a[i] ** 2
    )
    i += 1
    if i >= len(list_a):
        break
    
print(new_list)

[1, 4, 9, 16, 25]

In [26]:
# 초기값 지정
i = 0
# 빈 리스트 생성
new_list = []

while True:
    # 예외처리
    try:
        new_list.append(
            list_a[i] ** 2
        )
        i += 1
    except:
        # try문 안에서 실행되는 코드에서 Error가 발생하면 반복문 종료
        break

print(new_list)

[1, 4, 9, 16, 25]

In [ ]:
# bool에서
# True: 데이터 있음
# False: 데이터 없음

# int -> bool
# int != 0
print(
    bool( 0 ),
    bool( 1 ),
    bool( 10 ),
    bool( -2 )
)

False True True True

In [ ]:
# str -> bool
# str != ""
# len(str) != 0
print(
    bool( "" ),
    bool( " " ),    # 공백도 데이터 취급
    bool( "asd" )
)

False True True

In [ ]:
# list -> bool
# list != []
# len(list) != 0
print(
    bool( [] ),
    bool( [10] )
)

False True

In [16]:
print(
    True + True,
    True + False,
    False + False
)

2 1 0

### map() 함수를 이용하는 방법 2가지

In [ ]:
# map() + 일반 함수
def func_1(x):
    result = x ** 2
    return result

# map() -> list_a의 데이터들을 각각 func_1 함수에 대입하여 새로운 결과를 도출
# mapdata를 list에 저장해 보기 편하게 출력
list(
    map(
    func_1,
    list_a
    )
)

[1, 4, 9, 16, 25]

In [29]:
# 위처럼 간단한 형태는 이름이 존재하지 않는 함수를 만들어, 선언과 동시에 호출해 휘발성 함수로 사용.
# lambda 함수 + map()
# lambda 매개변수: 매개변수 변환하는 코드 (return 필요X)

list(
    map(
        lambda x: x ** 2,
        list_a
    )
)

[1, 4, 9, 16, 25]

In [36]:
# map() 함수는 첫 번째 인자는 함수로 고정
# 두 번째 인자부터는 1차원 데이터의 가변 매개변수
list(
    map(
        lambda x: x,
        [1,2,3,4,5],
        [5,4,3,2,1]
    )
)
# TypeError: <lambda>() takes 1 positional argument but 2 were given
# lambda 함수에는 데이터가 들어갈 공간이 1개인데, 2개의 입력값이 들어감.
# 즉, 첫 번째 인자값에 있는 1과 두 번째 인자값에 있는 5가 들어감.
# => x에 가변 표시를 해주면 둘 다 넣을 수 있음.

TypeError: <lambda>() takes 1 positional argument but 2 were given

In [37]:
list(
    map(
        lambda x, y: x + y,
        [1,2,3,4,5],
        [5,4,3,2,1]
    )
)

[6, 6, 6, 6, 6]

In [38]:
# 위의 map 함수가 하는 기능을 반복문으로 작성한다면?
list_1 = [1,2,3,4,5]
list_2 = [5,4,3,2,1]

new_list2 = []

for i in range(len(list_1)):
    new_list2.append(
        list_1[i] + list_2[i]
    )
new_list

[1, 4, 9, 16, 25]

In [39]:
new_list2 = []
for x, y in zip( list_1, list_2 ):
    new_list2.append(x + y)
new_list2

[6, 6, 6, 6, 6]

In [ ]:
# zip: 차원을 하나씩 올림. 1차원 데이터 n개 -> 2차원 데이터
# unzip : 차원을 하나씩 내림. 2차원 데이터 -> 1차원 데이터 n개
zip( list_1, list_2 )

In [41]:
list(zip( list_1, list_2 ))

[(1, 5), (2, 4), (3, 3), (4, 2), (5, 1)]

In [42]:
# map(), zip() 함수를 확인하면 0x... 과 같은 출력 생성
class A:
    def __init__(self, _x):
        self.x = _x

In [44]:
class_a = A(10)
class_a

In [ ]:
class B:
    def __init__(self, _x):
        self.x = _x
    def __repr__(self):
        return str(self.x)    # return에는 문자만 가능. 숫자 들어가면 에러.

In [49]:
class_b = B(20)
class_b

20

--- 
#### 연습
- 함수(func_2) 생성
    - 매개변수 1개 -> n (기본값 존재 X)
    - n 팩토리얼(n!)의 값을 되돌려주는 함수

In [10]:
# 함수 생성
# 매개변수에 함수의 결과에 대한 힌트를 포함
def func_2( n : int) -> int :
    # 팩토리얼: 1부터 시작해 자기 자신까지 1씩 증가시키며 누적곱
    result = 1
    for i in range(2, n+1):
        result *= i
    return result

In [11]:
func_2(5)

120

In [14]:
def func_3( n : int) -> int :
    # 팩토리얼: 1부터 시작해 자기 자신까지 1씩 증가시키며 누적곱
    result = n
    for i in range(n-1, 1, -1):
        result *= i
    return result

In [16]:
func_3(6)

720

---

### 재귀 함수
- 어떤 이벤트에서 자기 자신을 포함하고 다시 자기 자신을 사용하여 정의되는 것을 의미한다. </br>
    = 내가 나를 호출해, 반복 실행할 수 있도록 함.
- 재귀를 효과적으로 사용하면, 프로그램을 간결하고 효율적으로 작성할 수 있다.

In [ ]:
# 팩토리얼 n!
def func_4(n: int) -> int:
    if n > 0:
        return n * func_4( n-1 )
    else:
        return 1

In [20]:
func_4(5)

120

In [ ]:
# list 역순으로 뒤집기
test_list = [1,2,3,4,5]

In [ ]:
# list에 내장된 reverse() 함수를 생성
def list_reverse(_x):
    # 가장 마지막의 데이터를 추출하여 새로운 리스트에 추가
    result = []

    for i in range(1, len(_x)+1):        # 1부터 시작
    # for i in range(len(_x)-1, -1, -1):    # 또는 길이-1부터 시작
        result.append(
            _x[-i]
        )
    return result

In [ ]:
list_reverse(test_list)

[5, 4, 3, 2, 1]

In [25]:
def list_reverse2(_x):
    for i in range(len(_x)//2):
        _x[i], _x[-1-i] = _x[-1-i], _x[i]
    return _x

In [ ]:
list_reverse2(test_list)
# 이 함수가 호출됨과 동시에, _x = test_list가 되어 같은 공간에 두 개의 이름이 생긴다.

[5, 4, 3, 2, 1]

In [ ]:
# 즉, 원본이 리버스되어 저장된다.
test_list

# 따라서 백업 데이터를 구성해둬야 한다.

[5, 4, 3, 2, 1]

In [30]:
# list에서 백업 -> copy() 함수 이용
# _x = test_list 중 test_list는 함수가 호출될 때마다 변경되므로, _x를 new_list에 백업해야 한다.
# 따라서 ↓
def list_reverse2(_x):
    # _x의 복사본 생성
    result = _x.copy()
    for i in range(len(result)//2):
        result[i], result[-1-i] = result[-1-i], result[i]
    return result

In [31]:
test_list = [1,2,3,4,5]

In [ ]:
list_reverse2(test_list)  # 는 역순으로 바뀌었지만

[5, 4, 3, 2, 1]

In [ ]:
test_list  # 는 원본 그대로!

[1, 2, 3, 4, 5]

---

### 연습
- 문자의 위치를 찾는 함수를 생성해보자.
    - 함수의 이름은 c_find()
    - 매개변수 2개: _data, _word
    - _data에서 _word의 위치를 출력하는 기능
    - 찾는 _word가 여러 개라면, 여러 개를 동시에 출력
    - 찾는 _word가 존재하지 않는다면, 비어있는 튜플 () 출력
- 테스트
    - c_find('apple', 'p')
    - c_find('apple', 'b')
    - c_find(['a','b','c','d'], 'a')

In [10]:
# find(), index() 함수를 모른다는 기준으로 함수 구성

def c_find(_data, _word):
    # index들이 저장될 공간을 설정
    result1 = []   # 리스트 쓰는 경우
    result2 = ()  # 튜플 쓰는 경우
    for i in range(len(_data)):
        if _data[i] == _word:
            # result: list에 데이터 추가
            result1.append(i)

            # result2: 튜플에 데이터 추가 -> 불가 -> 새로 만들 수 밖에 없음
            # tuple + tuple => 추가의 형태로 새로운 tuple 생성됨
            # result2 += tuple([i])   <- 튜플 클래스 이용하거나, ↓
            result2 += (i,)
    return result1, result2

In [11]:
c_find('apple', 'p')

([1, 2], (1, 2))

In [12]:
c_find('apple', 'pp')

([], ())

In [13]:
c_find('apple', 'b')

([], ())

In [14]:
c_find(
    ['a','b','c','d','a'],
    'a'
)

([0, 4], (0, 4))

In [15]:
c_find(
    ['a','b','c','d', 'aa'],
       'aa'
)

([4], (4,))

str과 list는 나누는 '기준'이 다르다. </br>
str ⇒ 'apple'을 한 글자씩 나누므로, 'pp'가 포함되려면 'apple'를 'ap','pp','pl','le'로 나눠야 함

In [16]:
'apple'[4:6]

'e'

In [17]:
# 따라서

def c_find2(_data, _word):
    # index들이 저장될 공간을 설정
    result1 = []   # 리스트 쓰는 경우
    result2 = ()  # 튜플 쓰는 경우
    for i in range(len(_data)):
        # _data가 문자인가? -> 변수의 타입이 무엇인가?
        if type(_data) == str:
            flag = _data[i : i + len(_word)] == _word
        else:
            flag = _data[i] == _word

        if flag:
            # result: list에 데이터 추가
            result1.append(i)

            # result2: 튜플에 데이터 추가 -> 불가 -> 새로 만들 수 밖에 없음
            result2 += (i,)
    return result1, result2

In [18]:
print(
    c_find2('apple', 'pp'),
    c_find('apple', 'pp')
)

([1], (1,)) ([], ())

In [20]:
c_find2(
    ['a','b','c','d', 'aa'],
       'aa'
)

([4], (4,))

In [ ]:
'apple'.index('b')

ValueError: substring not found

In [24]:
'apple'.find('p')

1

---

#### 연습
- 소수를 구하는 함수를 생성하시오
    - 매개변수 2개: _start (기본값 2), _end (기본값 100)
    - 소수란?
        - 1과 자기 자신 이외엔 나누어 떨어지지 않는 수
        - 조건: 2부터 시작해 (자기 자신 - 1)까지 어떤 정수로도 나누어 떨어지지 않는다.
    - _start부터 _end까지의 수를 반복해, 소수인 데이터를 비어있는 리스트에 추가한다.
    - 소수의 리스트와 반복 횟수를 반환한다.

In [18]:
# 방법 1
# if-else 안 쓰는 경우 -> 진짜 반복횟수가 나옴 -> 횟수 훨씬 많음 -> 비효율적

# 함수 생성 (매개변수 2개 기본값 설정)
def prime_list(_start = 2, _end = 100):
    # 반복 횟수(초기값 0)
    cnt = 0
    # 비어있는 리스트 생성
    result = []
    # 반복문을 이용하여 _start부터 (_end+1) 까지 반복 
    for n in range(_start, _end+1):
        flag = 1
        # 2부터 (자기 자신-1)까지 반복
        for i in range(2, n):
            # 반복 횟수 1씩 증가
            cnt += 1
            # 나눈 나머지가 0인지 확인
            if n % i == 0:
                flag = 0
        # 조건문이 거짓이라면 
        if flag:  # 0을 제외한 숫자는 모두 True이므로 flag == 1 -> flag로 생략 가능
            # 소수 리스트에 추가
            result.append(n)
    return cnt, result

In [19]:
prime_list()

(4851,
 [2,
  3,
  5,
  7,
  11,
  13,
  17,
  19,
  23,
  29,
  31,
  37,
  41,
  43,
  47,
  53,
  59,
  61,
  67,
  71,
  73,
  79,
  83,
  89,
  97])

In [20]:
# 방법 2
# 함수 생성 (매개변수 2개 기본값 설정)
def prime_list(_start = 2, _end = 100):
    # 반복 횟수(초기값 0)
    cnt = 0
    # 비어있는 리스트 생성
    result = []
    # 반복문을 이용하여 _start부터 (_end+1) 까지 반복 
    for n in range(_start, _end+1):
        # 2부터 (자기 자신-1)까지 반복
        for i in range(2, n):
            # 반복 횟수 1씩 증가
            cnt += 1
            # 나눈 나머지가 0인지 확인
            if n % i == 0:
                # 참이라면 반복문 종료
                break
        # 조건문이 거짓이라면 
        else :
            # 소수 리스트에 추가
            result.append(n)
    return cnt, result

# 어차피 둘 다 같은 반복문 안이므로 if-else 위치가 달라도 연결된다는 점 주의.

In [21]:
prime_list()

(1133,
 [2,
  3,
  5,
  7,
  11,
  13,
  17,
  19,
  23,
  29,
  31,
  37,
  41,
  43,
  47,
  53,
  59,
  61,
  67,
  71,
  73,
  79,
  83,
  89,
  97])

In [22]:
# 방법 3
# 함수 생성 (매개변수 2개 기본값 설정)
def prime_list(_start = 2, _end = 100):
    # 반복 횟수(초기값 0)
    cnt = 0
    # 비어있는 리스트 생성 <- 2는 미리 포함
    result = [2]
    # 반복문을 이용하여 _start부터 (_end+1) 까지 반복
    # 짝수는 2를 제외한 나머지는 소수가 될 수 없으므로, 홀수만 반복 실행
    # _start가 짝수라면 _start + 1
    if _start % 2 == 0:
        _start += 1
    for n in range(_start, _end+1):
        # 2부터 (자기 자신-1)까지 반복
        for i in range(2, n):
            # 반복 횟수 1씩 증가
            cnt += 1
            # 나눈 나머지가 0인지 확인
            if n % i == 0:
                # 참이라면 반복문 종료
                break
        # 조건문이 거짓이라면 
        else :
            # 소수 리스트에 추가
            result.append(n)
    return cnt, result

In [23]:
prime_list()

(1133,
 [2,
  3,
  5,
  7,
  11,
  13,
  17,
  19,
  23,
  29,
  31,
  37,
  41,
  43,
  47,
  53,
  59,
  61,
  67,
  71,
  73,
  79,
  83,
  89,
  97])

In [17]:
# 방법 4 (방법 3의 개선)
# 홀수를 기준으로 반복 -> 이미 찾은 소수로 나눈 나머지가 0이라면 소수 X
cnt = 0
result = [2]

for n in range(3, 101, 2):
    # 이미 찾은 소수의 데이터로 반복하여 나눠준다.
    # for i in range(2, n):    # 수정 전
    for i in result:           # 수정 후
        cnt += 1
        if n % i == 0:
            break
    else:
        result.append(n)

print(cnt)
print(result)

362
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]