- MySQL과 Python 연동
    1. 연동 기능이 존재하는 라이브러리(pymysql) 설치
    2. 라이브러리 로드
    3. 데이터베이스 서버와의 연결
        - 서버의 정보 필요
            - 주소
            - port
            - 사용자 아이디
            - 비밀번호
            - 사용할 데이터베이스명(스키마)
    4. 커서 생성 
        - 커서: 데이터를 저장, 수정하는 가상의 (테스트)공간
            - 원본의 데이터를 안정적으로 유지하는 데 용이함
    5. query문을 작성하여 질의를 한다.
        - insert, update, delete: return이 존재하지 않는다.
        - select: return이 존재한다.
            - execute(  ): cursor로 보낸다.
            - fetchall(  ): cursor에서 Python에 데이터를 가져온 뒤, cursor에서는 삭제한다.
    6. (작업완료 후) DB server와 Cursor 동기화
    7. DB server와의 연결 종료

In [1]:
# 라이브러리 설치
# !pip install pymysql

Collecting pymysql
  Downloading pymysql-1.1.2-py3-none-any.whl.metadata (4.3 kB)
Downloading pymysql-1.1.2-py3-none-any.whl (45 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.1.2

In [1]:
# 라이브러리 로드
import pymysql

In [2]:
# DB server(_db)와의 연결
# = 연결되는 정보를 변수에 저장한다.

_db = pymysql.connect(
    # host= 'localhost' # (내 컴퓨터)
    host= '127.0.0.1',  # 서버의 주소
    port= 3306,         # str로 쓰지 않게 주의
    user= 'root',       # 유저의 아이디
    password= '1408',   # 비밀번호 (비밀번호가 없을 시 '')
    db = 'multicam'
)

In [4]:
# RuntimeError: 'cryptography' package is required for sha256_password or caching_sha2_password auth methods
# 위와 같은 cryptography 에러 발생 시
# !pip install cryptography

# 패스워드 암호화해주는 라이브러리

In [13]:
# connect는 결과로 클래스를 생성하는 구조
# _db를 이용하여 Cursor 생성
# case 1. 기본값으로 커서 생성 (일반적인 샘플 코드에 쓰이는 방식, 비추천)
    # select문을 이용해 데이터를 로드할 때, 데이터의 타입이 tuple -> 2차원 데이터를 튜플로 받으면, () 안의 () -> column name이 들어오려면 3차원이어야 한다.
cursor = _db.cursor()

# case 2. DictCursor 옵션을 사용해 커서 생성 (추천)
    # select문을 이용해 데이터를 로드할 때, 데이터의 타입이 dict -> column name을 key에 받으면 된다.
cursor2 = _db.cursor( pymysql.cursors.DictCursor )

In [14]:
# query문을 작성해 커서에 질문을 보낸다.
select_query = """
    select
    *
    from
    `emp`     
"""
# `emp`의 ` 생략 가능하지만 '로 쓰면 Error
# select_query를 커서에게 보낸다. (Cursor.execute() 함수 사용)
cursor.execute(select_query)
cursor2.execute(select_query)
# select에 대한 index 개수가 출력됨

14

In [15]:
cursor.fetchall()  # 2차원 형태의 튜플

((7369.0, 'SMITH', 'CLERK', 7902.0, '1980-12-17', 800.0, 0.0, 20.0),
 (7499.0, 'ALLEN', 'SALESMAN', 7698.0, '1981-02-20', 1600.0, 300.0, 30.0),
 (7521.0, 'WARD', 'SALESMAN', 7698.0, '1981-02-22', 1250.0, 500.0, 30.0),
 (7566.0, 'JONES', 'MANAGER', 7839.0, '1981-04-02', 2975.0, 0.0, 20.0),
 (7654.0, 'MARTIN', 'SALESMAN', 7698.0, '1981-09-28', 1250.0, 1400.0, 30.0),
 (7698.0, 'BLAKE', 'MANAGER', 7839.0, '1981-05-01', 2850.0, 0.0, 30.0),
 (7782.0, 'CLARK', 'MANAGER', 7839.0, '1981-06-09', 2450.0, 0.0, 10.0),
 (7788.0, 'SCOTT', 'ANALYST', 7566.0, '1987-06-28', 3000.0, 0.0, 20.0),
 (7839.0, 'KING', 'PRESIDENT', 0.0, '1981-11-17', 5000.0, 0.0, 10.0),
 (7844.0, 'TURNER', 'SALESMAN', 7698.0, '1981-09-08', 1500.0, 0.0, 30.0),
 (7876.0, 'ADAMS', 'CLERK', 7788.0, '1987-07-13', 1100.0, 0.0, 20.0),
 (7900.0, 'JAMES', 'CLERK', 7698.0, '1981-12-03', 950.0, 0.0, 30.0),
 (7902.0, 'FORD', 'ANALYST', 7566.0, '1981-12-03', 3000.0, 0.0, 20.0),
 (7934.0, 'MILLER', 'CLERK', 7782.0, '1982-01-23', 1300.0, 0.0, 10.0))

In [16]:
cursor2.fetchall()  # 2차원 리스트 안의 딕셔너리 형태(key값이 column의 이름)

[{'EMPNO': 7369.0,
  'ENAME': 'SMITH',
  'JOB': 'CLERK',
  'MGR': 7902.0,
  'HIREDATE': '1980-12-17',
  'SAL': 800.0,
  'COMM': 0.0,
  'DEPTNO': 20.0},
 {'EMPNO': 7499.0,
  'ENAME': 'ALLEN',
  'JOB': 'SALESMAN',
  'MGR': 7698.0,
  'HIREDATE': '1981-02-20',
  'SAL': 1600.0,
  'COMM': 300.0,
  'DEPTNO': 30.0},
 {'EMPNO': 7521.0,
  'ENAME': 'WARD',
  'JOB': 'SALESMAN',
  'MGR': 7698.0,
  'HIREDATE': '1981-02-22',
  'SAL': 1250.0,
  'COMM': 500.0,
  'DEPTNO': 30.0},
 {'EMPNO': 7566.0,
  'ENAME': 'JONES',
  'JOB': 'MANAGER',
  'MGR': 7839.0,
  'HIREDATE': '1981-04-02',
  'SAL': 2975.0,
  'COMM': 0.0,
  'DEPTNO': 20.0},
 {'EMPNO': 7654.0,
  'ENAME': 'MARTIN',
  'JOB': 'SALESMAN',
  'MGR': 7698.0,
  'HIREDATE': '1981-09-28',
  'SAL': 1250.0,
  'COMM': 1400.0,
  'DEPTNO': 30.0},
 {'EMPNO': 7698.0,
  'ENAME': 'BLAKE',
  'JOB': 'MANAGER',
  'MGR': 7839.0,
  'HIREDATE': '1981-05-01',
  'SAL': 2850.0,
  'COMM': 0.0,
  'DEPTNO': 30.0},
 {'EMPNO': 7782.0,
  'ENAME': 'CLARK',
  'JOB': 'MANAGER',
  'MGR': 7839.0,
  'HIREDATE': '1981-06-09',
  'SAL': 2450.0,
  'COMM': 0.0,
  'DEPTNO': 10.0},
 {'EMPNO': 7788.0,
  'ENAME': 'SCOTT',
  'JOB': 'ANALYST',
  'MGR': 7566.0,
  'HIREDATE': '1987-06-28',
  'SAL': 3000.0,
  'COMM': 0.0,
  'DEPTNO': 20.0},
 {'EMPNO': 7839.0,
  'ENAME': 'KING',
  'JOB': 'PRESIDENT',
  'MGR': 0.0,
  'HIREDATE': '1981-11-17',
  'SAL': 5000.0,
  'COMM': 0.0,
  'DEPTNO': 10.0},
 {'EMPNO': 7844.0,
  'ENAME': 'TURNER',
  'JOB': 'SALESMAN',
  'MGR': 7698.0,
  'HIREDATE': '1981-09-08',
  'SAL': 1500.0,
  'COMM': 0.0,
  'DEPTNO': 30.0},
 {'EMPNO': 7876.0,
  'ENAME': 'ADAMS',
  'JOB': 'CLERK',
  'MGR': 7788.0,
  'HIREDATE': '1987-07-13',
  'SAL': 1100.0,
  'COMM': 0.0,
  'DEPTNO': 20.0},
 {'EMPNO': 7900.0,
  'ENAME': 'JAMES',
  'JOB': 'CLERK',
  'MGR': 7698.0,
  'HIREDATE': '1981-12-03',
  'SAL': 950.0,
  'COMM': 0.0,
  'DEPTNO': 30.0},
 {'EMPNO': 7902.0,
  'ENAME': 'FORD',
  'JOB': 'ANALYST',
  'MGR': 7566.0,
  'HIREDATE': '1981-12-03',
  'SAL': 3000.0,
  'COMM': 0.0,
  'DEPTNO': 20.0},
 {'EMPNO': 7934.0,
  'ENAME': 'MILLER',
  'JOB': 'CLERK',
  'MGR': 7782.0,
  'HIREDATE': '1982-01-23',
  'SAL': 1300.0,
  'COMM': 0.0,
  'DEPTNO': 10.0}]

In [18]:
insert_query = """
    insert into
    `user_info`
    values
    ("test2", "1234", "park", "000101")    
"""
# 커서에게 insert_query 질의를 보낸다.
cursor2.execute(insert_query)

1

In [19]:
select_query2 = """
    select * from `user_info`
"""
cursor2.execute(select_query2)
cursor2.fetchall()

[{'id': 'test', 'password': '1234', 'name': 'kim', 'birth': '900101'},
 {'id': 'test2', 'password': '1234', 'name': 'park', 'birth': '000101'}]

In [12]:
# 현재까지의 작업은 커서(가상공간)에 데이터의 변화만 존재
# cursor와 DBserver와의 동기화 필요
_db.commit()

In [ ]:
# 데이터베이스와의 연결을 종료
_db.close()
# close 안 하면? = 식당에서 밥을 다 먹고 그 자리에서 아무것도 안 하는 것

# 연결(connect)하고 안 닫으면(close) 안 끊김
# 연결(request)하고 응답(reponse)받으면 자동으로 끊김

: