In [1]:
import pandas as pd

In [2]:
# csv 폴더의 uriage.csv 파일 로드
# 상대경로
uriage = pd.read_csv('../csv/uriage.csv')

In [ ]:
# info() - 데이터 구조, 컬럼 개수, 결측치 파악
uriage.info()

# item_price에 결측치가 존재한다.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2999 entries, 0 to 2998
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   purchase_date  2999 non-null   object
 1   item_name      2999 non-null   object
 2   item_price     2612 non-null   float64
 3   customer_name  2999 non-null   object
dtypes: float64(1), object(3)
memory usage: 93.8+ KB

In [ ]:
# head(), tail() - 데이터 구성 파악
uriage.head()

# item_name에 공백, 영어 대소문자 등이 서로 일치하지 않는다. --> 그룹화하기 쉽지 않다.

      purchase_date item_name  item_price customer_name
0  2019-06-13 18:02       상품A       100.0           김가온
1  2019-07-13 13:05     상 품 S         NaN           김우찬
2  2019-05-11 19:42     상 품 a         NaN           김유찬
3  2019-02-12 23:40       상품Z      2600.0           김재현
4   2019-04-22 3:09       상품a         NaN           김강현

In [5]:
uriage.tail()

         purchase_date item_name  item_price customer_name
2994   2019-02-15 2:56       상품Y      2500.0           김정민
2995   2019-06-22 4:03       상품M      1300.0           김재원
2996  2019-03-29 11:14       상품Q         NaN           김지율
2997  2019-07-14 12:56       상품H         NaN           김승주
2998   2019-07-21 0:31       상품D       400.0           정준기

In [6]:
# isna().sum() - 결측치 개수 확인
uriage.isna().sum()

purchase_date      0
item_name          0
item_price       387
customer_name      0
dtype: int64

---

< 문제점 >
1. 결측치</br>
 :  item_price 컬럼에 결측치 존재
    - 결측치의 개수가 전체 데이터 개수와 비교해 대략 10% 이상이므로,
    </br>결측치를 삭제하지 않고 특정 데이터로 치환
2. 데이터 정형화</br>
 :  item_name의 규칙적이지 않은 데이터
    - 대/소문자 문제
        - 모든 문자를 대문자 또는 소문자로 통일
        - 문자열 함수 upper(), lower(), title() 중 하나 선택
    - 문자 사이의 공백 문제
        - 문자 사이에 있는 공백 제거
        - 문자열의 **시작과 끝**에만 공백이 존재한다면? **strip()** 함수 이용해 제거
        - 문자열 **사이**에 공백이 존재한다면? **replace()** 함수 이용해 ' ' → '' 치환

---

< 대소문자 문제 - 모든 문자를 대문자로 변경 > </br>
case 1: for문 이용

In [ ]:
# 문자를 모두 대문자로 변경
# item_name의 데이터 확인
# Series 안의 value 개수 파악 -> value + 개수(counts) --> value_counts()
uriage['item_name'].value_counts()

item_name
상품A      133
상품R      133
상품S      133
상품P      132
상품C      130
        ...
상 품I       1
 상품 W      1
 상품 X      1
상품 M       1
상 품P       1
Name: count, Length: 99, dtype: int64

In [ ]:
# 중복되는 값들은 제외한 유일한 리스트 데이터 생성
# 유일(unique)
uriage['item_name'].unique()

array(['상품A', '상 품 S', '상 품 a', '상품Z', '상품a', '상품S', '상품 a', '상품V', '상품O',
       '상 품U', '상품L', '상  품V', '상 품O', '상품C', '상품I', '상품r', '상품X', '상품 g',
       '상품R', '상품P', '상품Q', '상품y', '상품 A', '상품N', '상품W', '상 품E', '상품K',
       '상품B', '상품F', '상 품s', ' 상품W', ' 상 품 n', '상 품F', '상품D', '상품M',
       '상품Y', '상품U', '상품H', '상품T', '상품J', '상  품O', '상품E', '상  품Q',
       ' 상품 S', ' 상품 M', '상  품T', '상품G', '상 품G', ' 상품 P', ' 상품 E', '상 품N',
       '상 품Y', '상품 J', '상품 V', '상품 K', '상 품V', '상 품D', '상 품A', '상품 F',
       '상품 H', '상 품K', '상 품T', '상품 X', '상품 Q', '상 품X', '상 품H', '상 품C',
       '상품 B', '상품 O', '상품 T', '상품v', '상품p', '상품i', '상품 w', '상 품 s',
       '상 품 q', '상품s', '상품l', '상품t', '상품k', '상품g', '상품o', '상품 R', '상품 S',
       '상 품M', '상품j', '상품d', '상품 I', '상품 E', '상품 o', '상품c', '상품 v', '상품e',
       '상품x', '상 품I', ' 상품 W', ' 상품 X', '상품 M', '상 품P'], dtype=object)

In [12]:
# 대문자로 변경 --> str class 안의 upper() 함수 --> str.upper()
uriage.loc[2, 'item_name'].upper()

'상 품 A'

In [ ]:
# Series에서는 upper() 함수 사용이 가능할까?
# uriage['item_name'].upper()

# AttributeError: 'Series' object has no attribute 'upper'
# 해당 함수가 존재하지 않아 불가능! --> 반복문 사용

In [ ]:
# 여러 방법을 보기 위해 복사본 생성
df = uriage.copy()

< 반복문을 사용해 모든 문자를 대문자로 변경 > </br>
case 1

In [ ]:
# 반복 횟수: 2999번 (데이터프레임의 길이, index의 수)
len(df)

2999

In [ ]:
for i in range(0, len(df)):
    df.loc[ i, 'item_name' ] = df.loc[ i, 'item_name' ].upper()

# for문보다는 map() 쓰는 게 더 깔끔하고 편해 많이 사용한다.

< 대소문자 문제 - 모든 문자를 대문자로 변경 > </br>
case 2: map(  ) 함수 사용

In [21]:
df2 = uriage.copy()

In [22]:
# Series.map() 함수를 이용해 데이터 변환
# map() -> 1차원 데이터에서 각각의 원소들을 함수에 대입한 결과로 새로운 1차원 데이터 생성
# map에서는 일반 def 키워드 함수(이름 존재, 재사용), lambda 함수(휘발성) 사용 가능
# 이 경우 간단한 함수이므로 lambda 함수 사용이 더 효율적

# lambda 함수 사용 시
df2['item_name'].map(
    # x의 타입은 str -> 문자열 내장함수인 upper() 사용 가능
    lambda x: x.upper()
)

0         상품A
1       상 품 S
2       상 품 A
3         상품Z
4         상품A
        ...
2994      상품Y
2995      상품M
2996      상품Q
2997      상품H
2998      상품D
Name: item_name, Length: 2999, dtype: object

In [ ]:
# map() + def 함수 사용 시
def change(x):
    # x에 대입되는 데이터는 타입이 str인 데이터 -> 문자열 내장함수 사용 가능
    x.upper()

df2['item_name'].map(
    change   # ()를 넣으면 함수를 호출하는 것이므로, 함수명만 적어야 한다.
)

# change 함수에 return이 없어, 모든 값이 None으로 출력된다.

0       None
1       None
2       None
3       None
4       None
        ...
2994    None
2995    None
2996    None
2997    None
2998    None
Name: item_name, Length: 2999, dtype: object

In [ ]:
# 따라서 return이 꼭 필요하다.

# map() + def 함수 사용 시
def change(x):
    # x에 대입되는 데이터는 타입이 str인 데이터 -> 문자열 내장함수 사용 가능
    x = x.upper()
    return x

# df2가 아닌 df2['item_name']에 넣어야 함을 주의
# 아니면 작업 끝내고 df2['item_name'] Series 한 개만 남음 ㅠㅠ
df2['item_name'] = df2['item_name'].map(
    change   # ()를 넣으면 함수를 호출하는 것이므로, 함수명만 적어야 한다.
)

0         상품A
1       상 품 S
2       상 품 A
3         상품Z
4         상품A
        ...
2994      상품Y
2995      상품M
2996      상품Q
2997      상품H
2998      상품D
Name: item_name, Length: 2999, dtype: object

< 대소문자 문제 - 모든 문자를 대문자로 변경 > </br>
case 3: 데이터 타입 변경 </br>
> 가장 간편함

In [25]:
df3 = uriage.copy()

In [ ]:
# Series 데이터에서 문자열 함수를 사용하기 위해 타입 변경
df3['item_name'].str  # --> StringMethods

In [28]:
# upper() 함수 사용 가능해짐
# 결과는 Series 형태
df3['item_name'] = df3['item_name'].str.upper()
df3['item_name']

0         상품A
1       상 품 S
2       상 품 A
3         상품Z
4         상품A
        ...
2994      상품Y
2995      상품M
2996      상품Q
2997      상품H
2998      상품D
Name: item_name, Length: 2999, dtype: object

---

< 문자 사이 공백 문제 - 공백 제거 > </br>
case 3: replace(  )

In [ ]:
# replace(' ', '')
df['item_name'].replace(' ', '')
# 안 바뀜

# str.replace()
# Series.replace()
# 둘 다 index 기준이지만
# - str은 문자 하나하나와 첫 번째 인자와 같으면 치환.
# - Series는 원소 하나하나와 첫 번째 인자와 같으면 치환.
#            -> 공백(' ')이라는 원소는 없어 치환 불가.

0         상품A
1       상 품 S
2       상 품 A
3         상품Z
4         상품A
        ...
2994      상품Y
2995      상품M
2996      상품Q
2997      상품H
2998      상품D
Name: item_name, Length: 2999, dtype: object

In [ ]:
# test.astype(str).str.upper() 은 가능
# bool 자료형을 문자형으로 변환
# 문자가 있어서 모두 true

In [ ]:
# uriage 데이터에서 item_name의 문자들을 일괄적으로 변환
# uriage['item_name'].str.upper().replace(' ', '') --> 불가능
uriage['item_name'].str.upper().str.replace(' ', '')

# str method 안의 upper()는 return이 Series 형태
# -> replace() 적용할 때 다시 한 번 문자열로 만들어줘야 함

0         상품A
1       상 품 S
2       상 품 A
3         상품Z
4         상품A
        ...
2994      상품Y
2995      상품M
2996      상품Q
2997      상품H
2998      상품D
Name: item_name, Length: 2999, dtype: object

In [33]:
uriage['item_name'] = uriage['item_name'].str.upper()
uriage['item_name'] = uriage['item_name'].str.replace(' ', '')

In [34]:
# 확인
uriage['item_name'].value_counts()

item_name
상품S    140
상품A    139
상품R    136
상품P    135
상품V    134
상품C    133
상품F    126
상품D    125
상품Q    125
상품O    124
상품W    121
상품N    119
상품T    117
상품X    116
상품J    116
상품I    114
상품B    113
상품M    113
상품L    110
상품G    110
상품K    109
상품H    109
상품U    107
상품E    105
상품Y    102
상품Z      1
Name: count, dtype: int64

In [ ]:
# 확인
uriage['item_name'].unique()

array(['상품A', '상품S', '상품Z', '상품V', '상품O', '상품U', '상품L', '상품C', '상품I',
       '상품R', '상품X', '상품G', '상품P', '상품Q', '상품Y', '상품N', '상품W', '상품E',
       '상품K', '상품B', '상품F', '상품D', '상품M', '상품H', '상품T', '상품J'],
      dtype=object)

< item_price 데이터에 결측치 채우기 >
- 상품별 결측치를 제외한 item_price의 평균을 구한다.
- 해당 상품의 item_price가 결측치인 데이터에 평균값을 대입한다.

In [38]:
# 상품A의 item_price가 결측치가 아닌 데이터를 확인한다.
# 조건식: item_name이 상품A ( uriage['item_name'] == 상품 A )
#        item_price가 결측치 ( uriage['item_price'].isna() ) --> 이 조건을 부정

flag = uriage['item_name'] == '상품A'
flag_null = uriage['item_price'].isna()

In [46]:
# item_name이 상품A(flag)이고(and) item_price가 결측치가 아닌(~flag_null)
# 상품 정보(모든 컬럼) 확인 -> 컬럼의 조건식은 필요X
uriage.loc[
    flag & ~flag_null,
]
# 상품A의 정보만 나오고, item_price도 결측치가 아님

# 위의 인덱스 조건에서 item_price 컬럼(컬럼의 조건식)의 데이터의 평균값(mean())을 구한다.
mean_price = uriage.loc[
    flag & ~flag_null,
    'item_price'
].mean()

In [ ]:
# mean_price를 item_name이 상품A(flag) 이고, item_price가 결측치(flag_null)인
# item_price에 (컬럼의 조건) 대입
uriage.loc[ flag & flag_null, 'item_price'].fillna(mean_price, inplace=True)
# 결측치만 있는 Series 데이터의 결측치를 평균값으로 채운다.

In [50]:
# inplace=True 했음에도 원본 데이터 수정되지 않은 채 그대로 NaN
# fillna 쓸 때 처음부터 끝까지는 가능한데, 중간만 수정하는 건 inplace가 작동X
uriage.loc[ flag & flag_null, 'item_price'] \
     = uriage.loc[ flag & flag_null, 'item_price'].fillna(mean_price)

In [ ]:
uriage.loc[ flag & flag_null, 'item_price']
# 모두 100으로 잘 바뀌어 있다.

2       100.0
4       100.0
6       100.0
14      100.0
300     100.0
361     100.0
667     100.0
838     100.0
844     100.0
957     100.0
1260    100.0
1394    100.0
1474    100.0
1892    100.0
1937    100.0
1977    100.0
2063    100.0
2278    100.0
2636    100.0
2669    100.0
2732    100.0
2821    100.0
Name: item_price, dtype: float64

In [56]:
# 위의 작업들을 상품A부터 상품Z까지(item_name 데이터에서 중복으로 제거한 리스트) 반복 실행
item_list = uriage['item_name'].unique()

# 반복문 작성
# item_list의 길이만큼 반복
for item_name in item_list:
# (다른 방법) for i in range(len(item_list)):
    # item_name 변수에는 item_list의 각각의 원소들이 대입
    # (다른 방법) i 변수에는 item_list의 index값이 대입
    flag = uriage['item_name'] == item_name  # ex. '상품A'
    # (다른 방법) flag = uriage['item_name'] == item_list[i]
    flag_null = uriage['item_price'].isna()

    mean_price = uriage.loc[flag & ~flag_null, 'item_price'].mean()
    # 또는
    uriage.loc[flag & flag_null, 'item_price'] = mean_price

In [57]:
# 결측치 개수 확인
uriage.isna().sum()

purchase_date    0
item_name        0
item_price       0
customer_name    0
dtype: int64

In [ ]:
# 알파벳마다 100원씩 증가 확인
uriage.groupby(['item_name'])['item_price'].mean()

item_name
상품A     100.0
상품B     200.0
상품C     300.0
상품D     400.0
상품E     500.0
상품F     600.0
상품G     700.0
상품H     800.0
상품I     900.0
상품J    1000.0
상품K    1100.0
상품L    1200.0
상품M    1300.0
상품N    1400.0
상품O    1500.0
상품P    1600.0
상품Q    1700.0
상품R    1800.0
상품S    1900.0
상품T    2000.0
상품U    2100.0
상품V    2200.0
상품W    2300.0
상품X    2400.0
상품Y    2500.0
상품Z    2600.0
Name: item_price, dtype: float64