### 시계열 데이터
- 여러 개의 데이터가 하나로 모여서 시계열 데이터 생성
- type(format) -> 시계열 데이터의 폼을 뜻한다.
    - 년도 표기(4자리수) :  <span style='color:#fff5b1'>%Y
    - 년도 표기(2자리수) :  <span style='color:#dcffe4'>%y
    - 월 표기(숫자) : <span style='color:#dcffe4'>%m
    - 월 표기(이름) : <span style='color:#fff5b1'>%B
    - 월 표기(이름 축약) : <span style='color:#dcffe4'>%b
    - 일 표기 : <span style='color:#dcffe4'>%d
    - 시 표기(24시 기준) : <span style='color:#fff5b1'>%H
    - 시 표기(12시 기준) : <span style='color:#fff5b1'>%I
    - AM/PM 표기 : <span style='color:#dcffe4'>%p
    - 분 표기 : <span style='color:#fff5b1'>%M
    - 초 표기 : <span style='color:#fff5b1'>%S
    - 요일 표기(이름) : <span style='color:#fff5b1'>%A
    - 요일 표기(숫자) : <span style='color:#dcffe4'>%w <span style='color:#808080'>(0: 일, 1: 월, ..., 6: 토)

In [1]:
from datetime import datetime

In [2]:
# 문자로 되어있는 데이터를 시간 데이터로 변환
time_str = "2025-09-04"

type(time_str)

str

<span style='color:#ffd33d'>srtptime( )
- 문자열 데이터 ⇒ 시계열 데이터
- 필수 매개변수 2개
    -  (시계열 데이터로 변경할 ) 문자열 데이터
    - format -> 문자열 데이터가 어떠한 방식으로 이루어져 있는가?

In [ ]:
# 문자열 데이터를 시계열 데이터로 변환
# datetime 안에 있는 함수 호출 -> 문자 데이터 시계열
time_data = datetime.strptime(
    time_str,
    "%Y-%m-%d"
)

type(time_data)

datetime.datetime

In [6]:
time_data

datetime.datetime(2025, 9, 4, 0, 0)

In [7]:
# 빈 데이터는 시작값으로 지정됨
datetime.strptime(
    '2025', '%Y'
)

datetime.datetime(2025, 1, 1, 0, 0)

<span style='color:#ffd33d'>srtftime( )
- 시계열 데이터 ⇒ 문자열 데이터
- 필수 매개변수 2개
    - ( 문자열 데이터로 변경할 ) 시계열 데이터

In [1]:
# 시간 데이터를 문자열 데이터로 변경
# strftime()
time_data.strftime(
    '%w'
)

NameError: name 'time_data' is not defined

In [2]:
7 // 3

2